*
!.gitignore
!admin/
admin/*
!admin/controller/
admin/controller/*
!admin/controller/extension/
admin/controller/extension/*
!admin/controller/extension/total/
admin/controller/extension/total/*
!admin/controller/extension/total/cardgatefee.php
!admin/controller/extension/payment/cardgate/cardgate.php
!admin/controller/extension/payment/
admin/controller/extension/payment/*
!admin/controller/extension/payment/cardgate/
!admin/controller/extension/payment/cardgate.php
!admin/controller/extension/payment/cardgateafterpay.php
!admin/controller/extension/payment/cardgatebancontact.php
!admin/controller/extension/payment/cardgatebanktransfer.php
!admin/controller/extension/payment/cardgatebillink.php
!admin/controller/extension/payment/cardgatebitcoin.php
!admin/controller/extension/payment/cardgatecreditcard.php
!admin/controller/extension/payment/cardgatedirectdebit.php
!admin/controller/extension/payment/cardgategiftcard.php
!admin/controller/extension/payment/cardgategiropay.php
!admin/controller/extension/payment/cardgateidealqr.php
!admin/controller/extension/payment/cardgateideal.php
!admin/controller/extension/payment/cardgateklarna.php
!admin/controller/extension/payment/cardgateonlineueberweisen.php
!admin/controller/extension/payment/cardgatepaypal.php
!admin/controller/extension/payment/cardgatepaysafecard.php
!admin/controller/extension/payment/cardgatepaysafecash.php
!admin/controller/extension/payment/cardgateprzelewy24.php
!admin/controller/extension/payment/cardgatesofortbanking.php
!admin/language/
admin/language/*
!admin/language/en-gb/
admin/language/en-gb/*
!admin/language/en-gb/extension/
admin/language/en-gb/extension/*
!admin/language/en-gb/extension/payment/
admin/language/en-gb/extension/payment/*
!admin/language/en-gb/extension/payment/cardgate.php
!admin/language/en-gb/extension/payment/cardgateafterpay.php
!admin/language/en-gb/extension/payment/cardgatebancontact.php
!admin/language/en-gb/extension/payment/cardgatebanktransfer.php
!admin/language/en-gb/extension/payment/cardgatebillink.php
!admin/language/en-gb/extension/payment/cardgatebitcoin.php'
!admin/language/en-gb/extension/payment/cardgatecreditcard.php
!admin/language/en-gb/extension/payment/cardgatedirectdebit.php
!admin/language/en-gb/extension/payment/cardgategiftcard.php
!admin/language/en-gb/extension/payment/cardgategiropay.php
!admin/language/en-gb/extension/payment/cardgateidealqr.php
!admin/language/en-gb/extension/payment/cardgateideal.php
!admin/language/en-gb/extension/payment/cardgateklarna.php
!admin/language/en-gb/extension/payment/cardgateonlineueberweisen.php
!admin/language/en-gb/extension/payment/cardgatepaypal.php
!admin/language/en-gb/extension/payment/cardgatepaysafecard.php
!admin/language/en-gb/extension/payment/cardgatepaysafecash.php
!admin/language/en-gb/extension/payment/cardgateprzelewy24.php
!admin/language/en-gb/extension/payment/cardgatesofortbanking.php
!admin/language/en-gb/extension/total/
admin/language/en-gb/extension/total/*
!admin/language/en-gb/extension/total/cardgatefee.php
!admin/language/nl-nl/
admin/language/nl-nl/*
!admin/language/nl-nl/extension/
admin/language/nl-nl/extension/*
!admin/language/nl-nl/extension/payment/
admin/language/nl-nl/extension/payment/*
!admin/language/nl-nl/extension/payment/cardgate.php
!admin/language/nl-nl/extension/payment/cardgateafterpay.php
!admin/language/nl-nl/extension/payment/cardgatebancontact.php
!admin/language/nl-nl/extension/payment/cardgatebanktransfer.php
!admin/language/nl-nl/extension/payment/cardgatebillink.php
!admin/language/nl-nl/extension/payment/cardgatebitcoin.php'
!admin/language/nl-nl/extension/payment/cardgatecreditcard.php
!admin/language/nl-nl/extension/payment/cardgatedirectdebit.php
!admin/language/nl-nl/extension/payment/cardgategiftcard.php
!admin/language/nl-nl/extension/payment/cardgategiropay.php
!admin/language/nl-nl/extension/payment/cardgateidealqr.php
!admin/language/nl-nl/extension/payment/cardgateideal.php
!admin/language/nl-nl/extension/payment/cardgateklarna.php
!admin/language/nl-nl/extension/payment/cardgateonlineueberweisen.php
!admin/language/nl-nl/extension/payment/cardgatepaypal.php
!admin/language/nl-nl/extension/payment/cardgatepaysafecard.php
!admin/language/nl-nl/extension/payment/cardgatepaysafecash.php
!admin/language/nl-nl/extension/payment/cardgateprzelewy24.php
!admin/language/nl-nl/extension/payment/cardgatesofortbanking.php
!admin/view/
admin/view/*
!admin/view/image/
admin/view/image/*
!admin/view/image/payment/
admin/view/image/payment/*
!admin/view/image/payment/cardgateplus.png
!admin/view/template/
admin/view/template/*
!admin/view/template/extension/
admin/view/template/extension/*
!admin/view/template/extension/payment/
admin/view/template/extension/payment/*
!admin/view/template/extension/payment/cardgate.twig
!admin/view/template/extension/payment/cardgateafterpay.twig
!admin/view/template/extension/payment/cardgatebancontact.twig
!admin/view/template/extension/payment/cardgatebanktransfer.twig
!admin/view/template/extension/payment/cardgatebillink.twig
!admin/view/template/extension/payment/cardgatebitcoin.twig
!admin/view/template/extension/payment/cardgatecreditcard.twig
!admin/view/template/extension/payment/cardgatedirectdebit.twig
!admin/view/template/extension/payment/cardgategiftcard.twig
!admin/view/template/extension/payment/cardgategiropay.twig
!admin/view/template/extension/payment/cardgateidealqr.twig
!admin/view/template/extension/payment/cardgateideal.twig
!admin/view/template/extension/payment/cardgateklarna.twig
!admin/view/template/extension/payment/cardgateonlineueberweisen.twig
!admin/view/template/extension/payment/cardgatepaypal.twig
!admin/view/template/extension/payment/cardgatepaysafecard.twig
!admin/view/template/extension/payment/cardgatepaysafecash.twig
!admin/view/template/extension/payment/cardgateprzelewy24.twig
!admin/view/template/extension/payment/cardgatesofortbanking.twig
!admin/view/template/extension/total/cardgatefee.twig
!catalog/
catalog/*
!catalog/controller/
catalog/controller/*
!catalog/controller/extension/
catalog/controller/extension/*
!catalog/controller/extension/payment/
catalog/controller/extension/payment/*
!catalog/controller/extension/payment/cardgate.php
!catalog/controller/extension/payment/cardgateafterpay.php
!catalog/controller/extension/payment/cardgatebancontact.php
!catalog/controller/extension/payment/cardgatebanktransfer.php
!catalog/controller/extension/payment/cardgatebillink.php
!catalog/controller/extension/payment/cardgatebitcoin.php
!catalog/controller/extension/payment/cardgatecreditcard.php
!catalog/controller/extension/payment/cardgatedirectdebit.php
!catalog/controller/extension/payment/cardgategeneric.php
!catalog/controller/extension/payment/cardgategiftcard.php
!catalog/controller/extension/payment/cardgategiropay.php
!catalog/controller/extension/payment/cardgateidealqr.php
!catalog/controller/extension/payment/cardgateideal.php
!catalog/controller/extension/payment/cardgateklarna.php
!catalog/controller/extension/payment/cardgateonlineueberweisen.php
!catalog/controller/extension/payment/cardgatepaypal.php
!catalog/controller/extension/payment/cardgatepaysafecard.php
!catalog/controller/extension/payment/cardgatepaysafecash.php
!catalog/controller/extension/payment/cardgateprzelewy24.php
!catalog/controller/extension/payment/cardgatesofortbanking.php
!catalog/controller/extension/payment/cardgate-clientlib-php/
!catalog/language/
catalog/language/*
!catalog/language/en-gb/
catalog/language/en-gb/*
!catalog/language/en-gb/extension/
catalog/language/en-gb/extension/*
!catalog/language/en-gb/extension/payment/
catalog/language/en-gb/extension/payment/*
!catalog/language/en-gb/extension/payment/cardgate.php
!catalog/language/en-gb/extension/payment/cardgateafterpay.php
!catalog/language/en-gb/extension/payment/cardgatebancontact.php
!catalog/language/en-gb/extension/payment/cardgatebanktransfer.php
!catalog/language/en-gb/extension/payment/cardgatebillink.php
!catalog/language/en-gb/extension/payment/cardgatebitcoin.php
!catalog/language/en-gb/extension/payment/cardgatecreditcard.php
!catalog/language/en-gb/extension/payment/cardgatedirectdebit.php
!catalog/language/en-gb/extension/payment/cardgategiftcard.php
!catalog/language/en-gb/extension/payment/cardgategiropay.php
!catalog/language/en-gb/extension/payment/cardgateidealqr.php
!catalog/language/en-gb/extension/payment/cardgateideal.php
!catalog/language/en-gb/extension/payment/cardgateklarna.php
!catalog/language/en-gb/extension/payment/cardgateonlineueberweisen.php
!catalog/language/en-gb/extension/payment/cardgatepaypal.php
!catalog/language/en-gb/extension/payment/cardgatepaysafecard.php
!catalog/language/en-gb/extension/payment/cardgatepaysafecash.php
!catalog/language/en-gb/extension/payment/cardgateprzelewy24.php
!catalog/language/en-gb/extension/payment/cardgatesofortbanking.php
!catalog/language/nl-nl/
catalog/language/nl-nl/*
!catalog/language/nl-nl/extension/
catalog/language/nl-nl/extension/*
!catalog/language/nl-nl/extension/payment/
catalog/language/nl-nl/extension/payment/*
!catalog/language/nl-nl/extension/payment/cardgate.php
!catalog/language/nl-nl/extension/payment/cardgateafterpay.php
!catalog/language/nl-nl/extension/payment/cardgatebancontact.php
!catalog/language/nl-nl/extension/payment/cardgatebanktransfer.php
!catalog/language/nl-nl/extension/payment/cardgatebillink.php
!catalog/language/nl-nl/extension/payment/cardgatebitcoin.php
!catalog/language/nl-nl/extension/payment/cardgatecreditcard.php
!catalog/language/nl-nl/extension/payment/cardgatedirectdebit.php
!catalog/language/nl-nl/extension/payment/cardgategiftcard.php
!catalog/language/nl-nl/extension/payment/cardgategiropay.php
!catalog/language/nl-nl/extension/payment/cardgateidealqr.php
!catalog/language/nl-nl/extension/payment/cardgateideal.php
!catalog/language/nl-nl/extension/payment/cardgateklarna.php
!catalog/language/nl-nl/extension/payment/cardgateonlineueberweisen.php
!catalog/language/nl-nl/extension/payment/cardgatepaypal.php
!catalog/language/nl-nl/extension/payment/cardgatepaysafecard.php
!catalog/language/nl-nl/extension/payment/cardgatepaysafecash.php
!catalog/language/nl-nl/extension/payment/cardgateprzelewy24.php
!catalog/language/nl-nl/extension/payment/cardgatesofortbanking.php
!catalog/model/
catalog/model/*
!catalog/model/extension/
catalog/model/extension/*
!catalog/model/extension/payment/
catalog/model/extension/payment/*
!catalog/model/extension/payment/cardgate.php
!catalog/model/extension/payment/cardgateafterpay.php
!catalog/model/extension/payment/cardgatebancontact.php
!catalog/model/extension/payment/cardgatebanktransfer.php
!catalog/model/extension/payment/cardgatebillink.php
!catalog/model/extension/payment/cardgatebitcoin.php
!catalog/model/extension/payment/cardgatecreditcard.php
!catalog/model/extension/payment/cardgatedirectdebit.php
!catalog/model/extension/payment/cardgategiftcard.php
!catalog/model/extension/payment/cardgategiropay.php
!catalog/model/extension/payment/cardgateidealqr.php
!catalog/model/extension/payment/cardgateideal.php
!catalog/model/extension/payment/cardgateklarna.php
!catalog/model/extension/payment/cardgateonlineueberweisen.php
!catalog/model/extension/payment/cardgatepaypal.php
!catalog/model/extension/payment/cardgatepaysafecard.php
!catalog/model/extension/payment/cardgatepaysafecash.php
!catalog/model/extension/payment/cardgateprzelewy24.php
!catalog/model/extension/payment/cardgatesofortbanking.php
!catalog/model/extension/total/
catalog/model/extension/total/*
!catalog/model/extension/total/cardgatefee.php
!catalog/view/
catalog/view/*
!catalog/view/theme/
catalog/view/theme/*
!catalog/view/theme/default/
catalog/view/theme/default/*
!catalog/view/theme/default/template/
catalog/view/theme/default/template/*
!catalog/view/theme/default/template/extension/
catalog/view/theme/default/template/extension/*
!catalog/view/theme/default/template/extension/payment/
catalog/view/theme/default/template/extension/payment/*
!catalog/view/theme/default/template/extension/payment/cardgateafterpay.twig
!catalog/view/theme/default/template/extension/payment/cardgatebancontact.twig
!catalog/view/theme/default/template/extension/payment/cardgatebanktransfer.twig
!catalog/view/theme/default/template/extension/payment/cardgatebillink.twig
!catalog/view/theme/default/template/extension/payment/cardgatebitcoin.twig
!catalog/view/theme/default/template/extension/payment/cardgatecreditcard.twig
!catalog/view/theme/default/template/extension/payment/cardgatedirectdebit.twig
!catalog/view/theme/default/template/extension/payment/cardgategiftcard.twig
!catalog/view/theme/default/template/extension/payment/cardgategiropay.twig
!catalog/view/theme/default/template/extension/payment/cardgateidealqr.twig
!catalog/view/theme/default/template/extension/payment/cardgateideal.twig
!catalog/view/theme/default/template/extension/payment/cardgateklarna.twig
!catalog/view/theme/default/template/extension/payment/cardgateonlineueberweisen.twig
!catalog/view/theme/default/template/extension/payment/cardgatepaypal.twig
!catalog/view/theme/default/template/extension/payment/cardgatepaysafecard.twig
!catalog/view/theme/default/template/extension/payment/cardgatepaysafecash.twig
!catalog/view/theme/default/template/extension/payment/cardgateprzelewy24.twig
!catalog/view/theme/default/template/extension/payment/cardgatesofortbanking.twig
!catalog/view/theme/default/image/
catalog/view/theme/default/image/*
!catalog/view/theme/default/image/loading.gif
!image
image/*
!image/payment
image/payment/*
!image/payment/cgp
!Installation and Update Instructions.txt
!licence.txt
!README.md
!README_NL.md