<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php" backupStaticAttributes="false" colors="true">
    <testsuites>
        <testsuite name="Mollie OpenCart">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>/usr/share/php</directory>
            <directory>.</directory>
            <directory>../admin/language</directory>
            <directory>../catalog/language</directory>
        </blacklist>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory>../admin</directory>
            <directory>../catalog</directory>
        </whitelist>
    </filter>
</phpunit>
